body {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	background-color: #000000;
}
.img-top-left {
	top: 0;
	left: 0;
	width: 20%;
	position: absolute;
}
.top-news {
	margin-left: 20%;
}
.menu-container {
	width: 25%;
	height: 70%;
	min-height: 575px;
	max-height: 600px;
	display: block;
	float:left;
	background-color: #000000;
	border: black solid 1px;
}
.galleri-container {
	width: 50%;
	height: 70%;
	min-height: 575px;
	max-height: 600px;
	background-color: #000000;
	display: block;
	float:left;
	z-index: 1;
	color: yellow;
	border: black solid 1px;
}
.black-background {
	background-color: rgba(51, 51, 51, 0.5);
}
.mySlides {
	color: #fff600;
}
img {
  max-width: 100%;
  width: auto   9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}
.skole-informationer {
	height: 70%;
	min-height: 575px;
	max-height: 600px;
	width: 25%;
	float:left;
	border: black solid 1px;
}
.galleri-container img {
    vertical-align: middle;
}